.userhistory-container {
  background-color: #fdfdfe; /* Almost white background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 93%;
  max-width: 600px;
  font-family: 'Arial', sans-serif;
  position: relative; /* Ensure close button positions correctly */
  margin-top: 50px;
}

.userhistory-container h2 {
  color: #007bff; /* Primary color for the title */
  margin-bottom: 20px;
  text-align: center;
}

.userhistory-container ul {
  list-style-type: none;
  padding: 0;
}

.userhistory-container li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Subtle shadow */
  display: flex;
  justify-content: space-between;
}

.userhistory-container li:nth-child(odd) {
  background-color: #f9f9f9; /* Alternate background color */
}

.modal-close {
  background: none;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
