body, html, #root {
  height: 100%;
  margin: 0;
  width: 100%;
}

.App {
  background: url('./assets/istockphoto-1023224308-2048x2048.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
